<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Méteo</title>
  </head>
  <body>
    <div>
      <h1>Température actuelle à {{ city }}</h1>
      <p>La température est : {{ temperature }}°C</p>
    </div>
    <form method="get" action="/">
      <label for="city">Ville :</label>
      <input type="text" id="city" name="city" value="{{ city }}">
      <button type="submit">Soumettre</button>
    </form>
  </body>
</html>